.hero {
  background-image: url('https://i.pinimg.com/564x/a5/c8/f0/a5c8f0a16a64c4d14e0903eefaa00dc6.jpg');
  height: 100vh;
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  h1 {
    font-size: 4em;
    line-height: 0.7em;
    text-shadow: 4px 4px 4px #ffffff44;
  }

  p {
    font-size: 2em;
    letter-spacing: 0.1em;
    text-shadow: 4px 4px 4px #ffffff44;
  }
}

@media(max-width: 992px) {
  .hero {
    height: 70vh;
    width: 100vw;
    background-size: cover;
    margin: 0 0 0 0;
  }
}

@media(max-width: 768) {
  .hero {
    height: auto;
    width: 100vw;
    background-size: cover;
    margin: 0 0 0 0;
  }
}

@media(max-width: 576) {
  .hero {
    height: auto;
    width: 100vw;
    background-size: cover;
    margin: 0 0 0 0;
  }
}
